<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/main.css">
	<title>Gestor de usuarios</title>
</head>
<body>
	<div class="errors" th:if="${errors}">
		<p th:each="item: ${errors}">
			<strong th:text="${item.key}"></strong>: <span
				th:text="${item.value}"></span>
		</p>
	</div>

	<h1>Añadir nuevo usuario</h1>
	<div>
		<form action="/usuario-add" method="post">
				<label>Nombre </label> <input name="nombre" type="text" required><br>
				<label>Apellidos </label> <input name="apellidos" type="text" required><br>
				<label>DNI </label> <input name="dni" type="text" required><br>
				<label>Email </label> <input name="email" type="email" required><br>
				<label>Cod.Postal </label> <input name="codPostal" type="text" required><br>
				<label>Telefono </label> <input name="telefono" type="tel" required><br>
				<label>Fecha nacimiento </label> <input name="fechaNacimiento" type="date" required><br>
				<label>Password </label> <input name="password" type="password" required><br>
				<input type="submit" value="Añadir">
			</form>
	</div>
	<p>
		<a href="/usuarios">Volver al listado de usuarios</a>
	</p>
	
</body>
</html>